# ======================== Kibana Configuration =========================
#
# This file is managed by Ansible. Manual changes will be overwritten.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/kibana/current/settings.html

# ---------------------------------- Server ------------------------------------
server.host: "0.0.0.0"
server.port: 5601

# ---------------------------------- Elasticsearch ----------------------------
elasticsearch.hosts: ["https://localhost:9200"]
elasticsearch.username: "elastic"
elasticsearch.password: "{{ elasticsearch_password | default('') }}"

{% if elasticsearch_ca_cert is defined and elasticsearch_ca_cert != '' %}
elasticsearch.ssl.certificateAuthorities: ["{{ elasticsearch_ca_cert }}"]
elasticsearch.ssl.verificationMode: "certificate"
{% endif %}

# Uncomment the following lines if enrollment token process is used
# xpack.fleet.agents.elasticsearch.hosts: ["https://localhost:9200"]
# xpack.fleet.outputs.default.hosts: ["https://localhost:9200"]

# ---------------------------------- Logging ----------------------------------
logging.root.level: info